<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>Sectus </strong></ion-text>
      </h1>
      
      <p margin-bottom>
        Sectus(latin word used for solidarity) is an saftey tool designed to keep you, your family and your community informed and safe from Covid-19.
        The app provide you with many features such as a covid risk assessment test that is regularly updated with the latest diagonsis procedure and symtoms associated with the diseases
        and also has a tool to find out how close you are to the outbreak and warms you when you are in high risk areas or have come in contact with a covid-19 carrier
      </p>
      
      <p>
        The app anonymusly tracks its users using RandomID, a idea created by tech giants apple and andriod. It uses geofence to ignore a users location while they are at home
        and saves their location when they leave the fence and if they move at walking speed or less their location and time is periodically recorded. Later when a user is reported sick
        then the app warns all other users who have crossed path with the sick user. Also the app provides us with a Inbox so users can be informed directly 
      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
